// ----------------------------
// FONTS
// ----------------------------
$FONT_FAMILY: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;

// ----------------------------
// COLORS
// ----------------------------
$COLOR_WHITE: #FFFFFF;
$COLOR_BLACK: #000000;
$COLOR_GRAY_LIGHT: #D2D2C9;
$COLOR_GRAY_DARK: #ACACAE;
$COLOR_PRIMARY: #DC4D3F;
$COLOR_DARKEST: #383838;

// ----------------------------
// VIEWPORTS
// ----------------------------
$VIEWPORT_SM: 640px;
$VIEWPORT_MD: 768px;
$VIEWPORT_LG: 1024px;
$VIEWPORT_MAX: 1600px;

// ----------------------------
// UTILITY
// ----------------------------
$RHYTHM_BASE: 8;
$SITE_CONTENT_WIDTH: 900px;
